.guess-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-labels-container {

}

.field-labels {
    margin-inline: 5px

}

.guess-answers-container {
    display: flex;
    flex-direction: column;
}

.guess-item {
    display: flex;
    gap: 5px;
}

.guess-item-square {

}

.correct-guess-square {
    background-color: green;
}

.incorrect-guess-square {
    background-color: red;
}

.incorrect-high-guess-square {
    background-color: red;
}

.incorrect-low-guess-square {
    background-color: red;
}

.correct-list-items {
    background-color: green;
}

.partially-correct-list-items{
    background-color: orange;
}

.incorrect-list-items {
    background-color: red;
}